body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer {
  font-family: 'Amatic SC', cursive;
  font-size: 27px;
  position: fixed;
  width: 100%;
  height: 5%;
  bottom: 0px;
  text-align: center;
  padding: 3px;
  background-color: #212529;
  color: white;
}
.footer__author{
  padding: 13px
}
a:link {
  color: #FD413C;
}

a:visited {
  color: #FD413C;
}

a:hover {
  color: #D00000
}

a:active {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
